/* Code on this page was addapted from various pages from the w3schools.com (2018) website

Reference: w3schools.2018.[Online].[Accessed 11/10/2018].Available from:https://www.w3schools.com/
*/

body {
    margin: 40px auto;
    width: 80%;
}
/* Puts a background image on the top of the page where the website page button can be found
personal image was used*/ 
.mountains {
  background-image: url("mountains.jpg");
  background-color: #cccccc;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.mountains-text {
  position: absolute;
  bottom: 1px;
  left: 10px;
  font-size:2em ;
  color:#000000;
  word-spacing: 1cm;
}
nav ul, footer ul {
    font-family: 'Arial', 'Sans';
    font-weight: bold;
    font-color: #000000;
}
nav ul li, footer ul li {
    display: inline;
    word-spacing: 1cm;
}

a {
    text-decoration: underline wavy #20B2AA;
    color: black;
}
/*sets the size of the footer */ 
footer {
    border-top: 1px solid #d5d5d5;
    font-size: 2em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

/* setting the different types of font-size and alignment */
h1 { text-align: center;
    font-size: 1em;  
}
h4 {
    text-align: center;
    font-size: 2.5em;
    color: black;
} 
h2 {
    text-align: left;
    font-size: 1.25em;
    color: black;
}
p{text-align: center;
    font-size: 1.55em;
    colour: black;
}
h3 {
    text-align: left;
    font-size: 1.55em;
}
h5{text-align: left;
    font-size: 1em;
}
    ul.a {
    list-style-type: circle;
}
/* create block which is used to in the CV page to set telefon number and link to email */
address { 
    display: block;
    font-style: bold;
}

/* used to create a button whihc allows the user to go back to the top of the page 
after he/she scrolled a certain amount from the top of the page*/
#topbutton {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  font-size: 15px;
  border: none;
  outline: none;
  background-color: #20B2AA;
  color: black;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px 2px;
}



